.backBg {
    position: relative;
    color: #fff;
}

.backBg::before {
    content: "";
    position: absolute;
    left: -72px;
    top: -65px;
    transform: rotate(-15deg);
    height: 105px;
    width: 115px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
            145deg,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0.1) 100%
    );
}
.detailsContainer {
    height: 100%;
    width: 100%;
    position: relative;
    color: #fff;
}

.dotsBg {
    position: absolute;
    right: 25px;
    top: -25px;
    transform: scale(0.5);
    opacity: 0.75;
}

.backBg {
    position: relative;
    color: #fff;
}

.backBg::before {
    content: "";
    position: absolute;
    left: -72px;
    top: -65px;
    transform: rotate(-15deg);
    height: 105px;
    width: 115px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
            145deg,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0.1) 100%
    );
}

.pokeBall {
    position: absolute;
    display: flex;
    z-index: -1;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    bottom: 0;
}

.pokeBall.rotar {
    animation-name: girar;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    opacity: 0.2;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
